@import '../Vars.less';

.home-main {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background-image: url('../../assets/img/cover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-main__section {
  height: 350px;
  display: grid;
  grid-column: 2;
  justify-items: center;
  margin-top: 80px;
}

.home-main--text {
  font-size: 7rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-align: center;
  color: @white;
}

.home-main__button {
  width: fit-content;
  height: 50px;
  display: grid;
  place-content: center;
  padding: 0 12px;
  border: 0;
  background-color: @caribbean-green;
}

.home-main__button--link {
  height: 100%;
  font-family: @theme-font;
  font-size: 1.8rem;
  font-weight: bold;
  color: @white;
}