.new-blog {
  padding: 40px 50px;
  background-color: #e6e9ed;
}
.new-blog__image--img {
  width: 100%;
}
.new-blog__info {
  padding-left: 30px;
}
.new-blog__info--description {
  margin-bottom: 35px;
}
