@import "../Vars.scss";

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  text-align: center;
  padding-bottom: 50px;
  background-color: #e6e9ed;
}
.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49.5%;
  height: 100%;
  margin-top: 15px;
}
.contact__container--link {
  border-bottom: 1px solid $black;
  padding-bottom: 5px;
}
.contact__container--text {
  margin-top: 10px;
}
.contact__container--img {
  width: 100px;
}
