/* @import './Vars.less';
@import './Desktop.less';
@import './Mobile.less'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* G L O B A L S */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
a {
  display: inline;
  text-decoration: none;
  color: black;
}
p {
  line-height: 1.5;
}
.home-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
