@import url(https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;900&display=swap);

@theme-font: 'Epilogue', sans-serif;
@charleston-green: #22272d;
@caribbean-green: #48cfad;
@light-gray: #cdd2da;
@white: #ffffff;
@black: #000000;